body{
    background-color: rgb(218, 213, 206);
    background-image: url(../image/fonde.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    
    margin-top: 20%;
    margin-left: 1%;
}

#menu{
    display: flex;
	width: auto;
	background-color: rgb(38, 0, 255);
	border: 1px grey solid;
	justify-content: space-around;
    flex-direction: row;
    list-style: none;
}
#nn{
    text-align: center;
	border: 3px blue solid;
	border-radius:3px;
	box-shadow: 1px 1px 1px orange;
	font-size: medium;
	font-weight: bold;
	background-image: url(https://www.ilunionhotels.fr/cache/f7/1a/f71a49b5badd864ef97ccd15de58061b.jpg);
	color: black;
    justify-items: center;
    height: 10em;
    
	
}
#footer{
    text-align: center;
    width:196%;
    
    margin-left: 0%;
    

    margin-top: 0em;
    text-align: center;
	border: 3px blue solid;
	border-radius:3px;
	box-shadow: 1px 1px 1px orange;
	font-size: medium;
	font-weight: bold;
	 background-image: url(https://www.ilunionhotels.fr/cache/f7/1a/f71a49b5badd864ef97ccd15de58061b.jpg); 
	color: black;
    justify-items: center;
    height: 13em;
    
    
} 
#image{
    width: 50px;
    height: 64px;
    float:left;
} 
li{
    display:inline;
} 
table{
   border-spacing: 5px;
   font-size: 20px;
} 
#mainn{
    display:inline-block;
} 
#partieG {
    margin-top: 0.4em;
    margin-left:0em ;
    float: left;
    width: 48em;
    
    }
    
 #partieD {
    margin-top: 0.4em;
    margin-right: 5em;
    float:right;
    
    
    }
#critere{
    height: 2em;
    width: 40em;
    margin-top: 9em;
    background-color:white;
   opacity:0.8;
   border: 3px white solid;
    
} 
#input
{
    
    
    cursor: pointer;
    width: 4em;
    height: 2em;
    margin-top: 9em;

}
#texte{
    margin-top: 20%;
  margin-left: 40%;
  width: 100%;
  
  text-align: center
} 
#n{
    margin: 2%;
} 

 